html
   head
      title All Template Needs
      meta(charset="utf-8")
      meta(name='viewport' content ='width=device-width, initial-scale=1.0')
      meta(name='description' content='')
      meta(name='author' content='')
      link(href='css/bootstrap.css' rel='stylesheet')
      link(href='css/custom-styles.css' rel='stylesheet')
      link(href='css/image-effects.css' rel='stylesheet')
      link(href='css/normalize.css' rel='stylesheet')
      link(href='css/component.css' rel='stylesheet')
      link(rel='stylesheet' href='css/font-awesome.css')
      link(rel='stylesheet' href='css/font-awesome-ie7.css')
      script(src='js/html5shiv.js')
      script(src='js/respond.min.js')
      script(src='js/modernizr.custom.js')
   body
      div.class='container page-styling'
         div.class='header-wrapper'
            div.class='site-name'
               h1 sitename
            div.class='menu'
               div.class='navbar'
                  div.class='navbar-header'
                     button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse')
                        span.class='icon-bar'
                        span.class='icon-bar'
                        span.class='icon-bar'
                  div.class='navbar-collapse collapse'
                     ul.class='nav navbar-nav'
                        li
                           a(href='#') Home
                        li.class='dropdown'
                           a(href='#' class='dropdown-toggle active' data-toggle='dropdown') About
                              b.class='caret'
                           ul.class='dropdown-menu'
                              li
                                 a(href='#') Another action
                              li
                                 a(href='#') Something else here
                              li
                                 a(href='#') Another action
                              li
                                 a(href='#') Something else here
                              li
                                 a(href='#') Services
                              li
                                 a(href='#') Portfolio
                              li
                                 a(href='#') Contact
               div.class='mini-menu'
                  label
                     select.class='selectnav'
                        option(value='#' selected='') Home
                        option(value='#') About
                        option(value='#') Another action
                        option(value='#') Something else here
                        option(value='#') Another action
                        option(value='#') Something else here
                        option(value='#') Services
                        option(value='#') Portfolio
                        option(value='#') Contact
         div.class='banner'
            div(id='carousel-example-generic' class='carousel slide' data-ride='carousel')
               div.class='carousel-inner'
                  div.class='item active'
                     img(src='img/banner-img.jpg' alt='' class='')
                     div.class='carousel-caption'
                        i.class='fw-icon-pencil'
                        h2 Corem ipsum
                        h1 sit amet vivamus
                        a(href='#' class='btn') more info
                  div.class='item'
                     img(src='img/banner-img.jpg' alt='')
                     div.class='carousel-caption'
                        i.class='fw-icon-pencil'
                        h2 Corem ipsum
                        h1 sit amet vivamus
                        a(href='#' class='btn') more info
                  div.class='item'
                     img(src='img/banner-img.jpg' alt='')
                     div.class='carousel-caption'
                        i.class='fw-icon-pencil'
                        h2 Corem ipsum
                        h1 sit amet vivamus
                        a(href='#' class='btn') more info
               a(class='left carousel-control' href='#carousel-example-generic' data-slide='prev')
                  span.class='glyphicon glyphicon-chevron-left'
               a(class='right carousel-control' href='#carousel-example-generic' data-slide='next')
                  span.class='glyphicon glyphicon-chevron-right'
         div.class='content-wrap'
            div.class='main-title'
               ul(class='grid effect-8' id='grid')
                  li
                     h1 Lorem ipsum
                     h4 Donec nec justo eget felis facilisis fermentum.
                     br
                     Aliquam porttit or auris sit amet orci. Aenean dignissim pellentesque felis.
         div.class='lines'
            div.class='more-btn'
               a(href='#' class='btn') Read More
         div.class='content-wrap'
            div.class='main-title spacing-bt'
               ul(class='grid effect-8' id='grid')
                  li
                     h1 Vivamus vest
                     h4 Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit.
                        br
                        Pellentesque egestas sem. Suspendisse commodo ullamcorper magna..
            div.class='row'
               div.class='featured-block'
                  div.class='col-md-4'
                     div.class='icon-btn'
                        i.class='fw-icon-pencil icon'
                     div.class='block'
                        h5 Fusce pellentesque
                           br
                           suscipit nibh
                        p Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero,  id...
                        a(href='#' class='more') more info
                           i.class='fw-icon-chevron-right'
               div.class='featured-block'
                  div.class='col-md-4'
                     div.class='icon-btn'
                        i.class='fw-icon-group icon'
                     div.class='block'
                        h5 Integer vitae libero
                           br
                           ac risus egestas
                        p Ced egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero...
                        a(href='#' class='more') more info
                        i.class='fw-icon-chevron-right'
               div.class='featured-block'
                  div.class='col-md-4'
                     div.class='icon-btn'
                        i.class='fw-icon-wrench icon'
                     div.class='block'
                        h5 Vestibulum commodo
                           br
                           felis quis tort
                        p Tegestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, fauc...
                        a(href='#' class='more') more info
                           i.class='fw-icon-chevron-right'
         div.class='ruler'
         div.class='content-wrap centering'
            div.class='main-title spacing-bt'
               ul(class='grid effect-8' id='grid')
                  li
                     h1 Cras iaculis
                     h4 Fusce lobortis lorem at ipsum semper sagittis
            div.class='featured-items'
               ul(class='grid effect-2' id='grid')
                  li
                     div.class='item'
                        h5 Vestibulum commodo
                        br
                        felis quis tortor
                        div.cass='row'
                           img(src='img/img1.jpg' alt='')
                        p Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus.
                        p
                           a(href='#' class='more') more info
                              i.class='fw-icon-chevron-right'
                  li
                     div.class='item'
                        h5 Donec quis dui at<br> dolor
                        div.class='grow'
                           img(src='img/img2.jpg' alt='')
                        p Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus
                        p
                           a(href='#' class='more') more info
                              i.class='fw-icon-chevron-right'
                  li
                     div.class='item'
                        h5 Vestibulum commodo<br> felis quis tortor
                        div.class='grow'
                           img(src='img/img3.jpg' alt='')
                        p Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus.
                        p
                           a(href='#' class='more') more info
                              i.class='fw-icon-chevron-right'
         div.class='ruler'
         div.class='content-wrap centering'
            div.class='main-title'
               ul(class='grid effect-8' id='grid')
                  li
                     h1 Nunc digniss
                     h4 Praesent dapibus, neque id cursus faucibus,
                     br
                     tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat
                     br
                     volutpat Nam dui mi, tincidunt quis, accumsan porttitor
            div.class='tags'
               h5(class='spacing-bt') lorem ipsum dolor
                  ul(class='grid effect-7' id='grid')
                  li
                     a(href='#' class='btn') Integer vit ametuno
                  li
                     a(href='#' class='btn') donce ametuno
                  li
                     a(href='#' class='btn') voluptanin
                  li
                     a(href='#' class='btn') tincidun
                  li
                     a(href='#' class='btn') porttion souti
                  li
                     a(href='#' class='btn') namdui sinosi
                  li
                     a(href='#' class='btn') fermnutin
         div.class='lines'
            div.class='more-btn'
               a(href='#' class='btn') View More
      div.class='container'
         div(class='copy-rights') Copyright(c) website name.
            br
            Designed by:
            a(href='http://www.alltemplateneeds.com') www.alltemplateneeds.com
            Images from:
            a(href='http://www.wallpaperswide.com') www.wallpaperswide.com

      script(src='js/jquery-1.9.1.js')
      script(src='js/bootstrap.js')
      script(src='js/modernizr-2.6.2-respond-1.1.0.min.js')
      script(src='js/masonry.pkgd.min.js')
      script(src='js/imagesloaded.js')
      script(src='js/classie.js')
      script(src='js/AnimOnScroll.js')
      script.
         new AnimOnScroll( document.getElementById( 'grid' ), {
         minDuration : 0.4,
         maxDuration : 0.7,
         viewportFactor : 0.2
         } );

block content
